<ul class="paging">
    {% for page in pageLinks %}
        {% if old != page.id-1 %}
            <span class="delimiter">...</span>
        {% endif %}
        <li><a {% if page.current %}class="current"{% endif %} href="{{ page.link }}">{{ page.id }}</a></li>
        {% set old = page.id %}
    {% endfor %}
</ul>