<div class="html-text-manual">
<ol>
    <li><p>Создаем директорию с проектом, размещаем файл <b>composer.json</b> со следующим содержанием</p>
        <code><pre>
{
  "name": "example project",
  "type": "project",
  "minimum-stability" : "dev",
  "require": {
    "plumbus/application": "0.1.3"
  },
  "config": {
    "vendor-dir": "vendor/"
  },
  "autoload": {
    "psr-4": {
      "MyProject\\": "project/"
    }
  }
}
        </pre></code>
        <p>Тут MyProject - папка, в которой будет размещено Ваше приложение.</p>
    </li>
    <li>Выполняем команду <code># composer update</code>. Вывод должен получиться такой:<br>
    <code><pre>
Loading composer repositories with package information
Updating dependencies (including require-dev)
  - Installing twig/twig (v1.21.2)
    Loading from cache

  - Installing plumbus/router (dev-master a07b83f)
    Cloning a07b83ffe27798d96b90cf4e5d26b12cac96b417

  - Installing plumbus/application (0.1.3)
    Downloading: 100%

Generating autoload files</pre></code></li>
    <li>В результате получим папку vendor. Движок содержит в себе пример приложения - <p><img src="/static/images/man-1.png"></p></li>
    <li>Выполняем команду <code>cp vendor/plumbus/application/project/* MyProject/ -fr</code> чтобы скопировать пример приложения в свою папку приложения</li>
    <li>Теперь ваша папка проекта содержит приложение <p><img src="/static/images/man-2.png"></p></li>
    <li>Копируем конфиг nginx MyProject/conf/nginx_example.conf в папку с конфигами nginx и меняем все пути и имя сервера на свои.</li>
    <li>После рестарта nginx можно открывать сайт в браузере. Папка MyProject - папка вашего проекта, которую смело можно добавлять в репозиторий вместе с файлом composer.json</li>
</ol>
</div>