<!DOCTYPE html>
<html>{% include 'html/head.twig' with {page : page, debug : debug} %}
<body>
<div id="wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="/">Plumbus project</a></h1>
      <p>Простой и быстрый движок на PHP</p>
        <div class="head">{% include 'internal/block.twig' with {debug : debug, block : 'head', data : data} %}</div>
    </div>
  </div>
  <div id="content">
    <h2>Демонстрация работы с кешированием через nginx</h2>

    <p>Любой модуль может иметь настройку "кешировать" или "показывать через ssi". В обоих случаях
      модуль будет показан через ssi отдельным потоком, и при настройке "кешировать"  закеширован.
      Также можно поместить в кеш всю страницу настройкой для страницы, при этом все модули на странице,
      имеющие настройки кеширования или ssi, всё равно будут кешироваться согласно настройкам.
      Таким образом можно иметь закешенную на час страницу, в которой один модуль будет выполняться без кеша,
      второй будет закеширован на полчаса, а третий - закешируется на 4 часа и будет жить в кеше дольше самой страницы.</p>

    модуль ниже имеет настройку "кешировать на 5 секунд"
    <hr>
    {% include 'internal/block.twig' with {debug : debug, block : 'block1', data : data} %}
    <hr>
    <br/>
    а этот модуль кешируется на 10 секунд
    <hr>
    {% include 'internal/block.twig' with {debug : debug, block : 'block2', data : data} %}
    <hr>
    <br/>
    Третий модуль не кешируется, но показывается через ssi
    <hr>
    {% include 'internal/block.twig' with {debug : debug, block : 'block3', data : data} %}
    <hr>
    <br/>
    Четвертый модуль не кешируется, но т.к. кешируется вся страница - обновляется вместе со страницей
    <hr>
    {% include 'internal/block.twig' with {debug : debug, block : 'block4', data : data} %}
    <hr>
    <br/>

    <p>Сама страница кешируется на 20 секунд и была сгенерирована в <b>{{ page.generated }}</b></p>

    Конфиг данной страницы:
<pre><code>
        $modules['cache_example'] = [
            'class'    => Project\Module\Cache\Example::class,
            'template' => 'example/cache.twig',
            'action'   => 'showItem',
            'cache'    => 5,
        ];

        $pages['example_ssi_cached_page'] = new \Plumbus\Core\Controller\Page\SimplePage([
            'layout' => 'tests/cache',
            'cache'  => 20,
            'css'    => [
                '/static/css/project.css',
                '/static/css/cached_page.css',
            ],
            'js'     => [],
            'blocks' => [
                'block1' => ['example_news_cached_module_1' => $modules['cache_example']],
                'block2' => [
                    'example_news_cached_module_2' => \Plumbus\Core\Util\UtilArray::mergeArrays(
                        [
                            $modules['cache_example'],
                            [
                                'cache' => 10
                            ]
                        ])
                ],
                'block3' => [
                    'example_news_cached_module_2' => \Plumbus\Core\Util\UtilArray::mergeArrays(
                        [
                            $modules['cache_example'],
                            [
                                'ssi'   => true,
                                'cache' => 0
                            ]
                        ])
                ],
                'block4' => [
                    'example_news_cached_module_2' => \Plumbus\Core\Util\UtilArray::mergeArrays(
                        [
                            $modules['cache_example'],
                            [
                                'cache' => 0,
                                'ssi'   => false
                            ]
                        ])
                ]
            ]
        ]);
</code></pre>
  </div>
    <div id="footer">
        <div>{% include 'html/footer.twig' %}</div>
    </div>
</div>
</body>
</html>