.module-tests-toc h2{
    font-family: Arial;
    font-weight: normal;
    font-size: 18pt;
    padding: 10px 0 0 10px;
}

.module-tests-toc span{
    font-weight: bold;
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    font-family: Arial;
}

.module-tests-toc ul li{
    padding: 10px 0px 10px 20px;
    list-style: none;
    font-size: 12pt;
}
.module-tests-toc ul li a{
    color: #204d74;
    text-decoration: underline;
    border-bottom: none;
}

.module-tests-toc ul li a:hover{
    color: #286090;
    text-decoration: none;
    border-bottom: 1px solid #204d74;
}
