.user-authorization {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 300px;
}

.user-authorization span.email,.user-authorization span.password{
    display: inline-block;
    color: #fff;
    font-size: 10px;
    padding: 3px 0px 10px 20px;
}

.user-authorization div.input{
    display: inline-block;
    color: #fff;
    width: 90px;
}

.user-authorization div.input input{
    width: 100px;
}

.user-authorization input.login, .user-authorization input.logout{
    display: inline-block;
    float: right;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
}

.user-authorization .username{
    float: right;
    display: inline-block;
    color: #aaa;
}

.user-authorization .username span{
    color: #fff;
}