html, body {
    margin: 0%;
    font-family: arial;
    font-size: 14px;
    height: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
}

code {
    background: #F8F8FF;
    border: black dashed 1px;
    padding: 6px;
    display: inline-block;
}

#logo h1 {
    font-family: Arial;
    font-size: 22pt;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 0 10px;
    text-transform: uppercase;
    color: #ffc43a;
}

#logo p {
    font-family: Arial;
    font-weight: normal;
    margin: 0;
    padding: 0px 0 0 10px;
    color: #aaa;
}

#logo h1 a {
    font-family: Arial;
    font-weight: normal;
    margin: 0;
    color: #ffc43a;
}

#wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
}

#header {
    margin: 0 auto;
    padding: 10px;
    min-width: 790px;
    max-width: 1260px;
    background: #333;
    position: relative;
}

#content {
    margin: 0 auto;
    min-width: 790px;
    max-width: 1260px;
    padding: 10px 10px 90px 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;

}

#footer .plank {
    background: #333;
    min-width: 790px;
    max-width: 1260px;
    height: 90px;
    margin: 0 auto;
    color: #ddd;
}

#footer .plank p {
    margin: 0;
    padding: 10px 0 10px 10px;
}

.paging {
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.paging li {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    border: 1px solid #777;
    text-align: center;
}

.paging li a {
    color: #222;
}

.paging li a.current {
    font-weight: bold;
    text-decoration: none;
}

.paging .delimiter {
    display: inline-block;
    min-width: 5px;
    height: 20px;
}