<div class="admin-news-item">{% if(data.success) %}
        <div class="message success">Новость сохранена</div>
    {% endif %}
    {% if(data.errors) %}
        <div class="message error">Ошибка: Новость не сохранена</div>
    {% endif %}
    <h3>Редактирование новости "{{ data.news_item.title }}"</h3>

    <form method="post">
        {% include 'html/form.twig' with {block : data.block, module : data.module, action: "edit"} %}
        <div class="field{% if(data.errors.title) %} error{% endif %}">
            {% if(data.errors.title) %} <span class="error">Ошибка: {{ data.errors.title }}</span>{% endif %}
            <input name="title" value="{{ data.news_item.title }}">
        </div>
        <div class="field{% if(data.errors.description) %} error{% endif %}">
            {% if(data.errors.description) %}<span class="error">Ошибка: {{ data.errors.description }}</span>{% endif %}
            <textarea name="description">{{ data.news_item.description }}</textarea>
        </div>

        <input type="submit" value="Сохранить">
    </form>
</div>