<div class="news-list">
    {% for news_item in data.news %}
        <div>
            <p>{{ news_item.title }}</p>

            <p><a href="{{ news_item.edit_url }}">редактировать</a></p>
        </div>
    {% endfor %}
    {% include 'html/paging.twig' with {pageLinks : data.pageLinks} %}
</div>