<div id="torg_reviews" class="torg_reviews">

    <a href="http://torg.mail.ru">Товары@Mail.Ru</a>

</div>
<script>
    $(function(){
        TORG.init({ClientId: 15585});
        TORG.Widgets.Reviews("torg_reviews", {onpage: 15, ModelId:13900954});
    });
</script>