fastcgi_cache_path {{ data.cachePath }} levels=2 keys_zone=beeproject:60m inactive=2m max_size=1500m;

server {
    listen       80;
    server_name  {{ data.domain }} www.{{ data.domain }} ;
    ssi on;
    charset utf-8;
    location /static/
    {
        root {{ data.projectPath }}data ;
    }

   fastcgi_cache_lock on;
   fastcgi_cache_lock_age 1s;
   fastcgi_cache_lock_timeout 1s;
   fastcgi_ignore_headers Set-Cookie  Expires;

    location /ssi{
        internal;
        fastcgi_cache  beeproject;
        fastcgi_cache_valid 200 301 302 304 60m;
        fastcgi_cache_key "$request_method|$request_uri|$uri|$query_string";
        fastcgi_pass_header "X-Accel-Expires";
        root           {{ data.projectPath }}data/ ;
        fastcgi_pass   {{ data.fastcgiPass }};
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  {{ data.projectPath }}data/index.php ;
        include        fastcgi_params;
        fastcgi_param  SSI_MODULE_PARAMS $query_string;
        fastcgi_param  SSI_MODULE       1;
    }

    location / {
        expires 0;
        fastcgi_cache  app;
        fastcgi_cache_valid 200 301 302 304 60m;
        fastcgi_cache_key "$request_method|$request_uri|$uri|$query_string";
        fastcgi_pass_header "X-Accel-Expires";
        root           {{ data.projectPath }}data/ ;
        fastcgi_pass   {{ data.fastcgiPass }};
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  {{ data.projectPath }}data/index.php ;
        include        fastcgi_params;
    }
}
