.admin-news-item {
    padding: 10px;
}

.admin-news-item .field {
    display: block;
    padding: 10px;
    margin: 0;
    clear: both;
}

.admin-news-item .field span.error{
    color: red;
    display: block;
}

.admin-news-item .message.error{
    background: #f7ecb5;
    border: black dashed 1px;
    padding: 6px;
    display: inline-block;
}

.admin-news-item .message.success{
    background: #5cb85c;
    border: black dashed 1px;
    padding: 6px;
    display: inline-block;
}