{% if debug %}<!--block {{ block }}-->{% endif %}{% for module in data[block] %}{% if debug %}<!--module template {{ module.template }}-->{% endif %}{% include module.template with {data : module} %}{% endfor %}{% if debug %}<!--/block {{ block }}-->{% endif %}