{# @var data.user \Plumbus\Core\User\CurrentUser #}
<div class="user-authorization">
    {% if(data.user.getIsGuest()) %}
        {% for network in data.networks %}
            <a href="{{ network.getAuthorizeLink() }}">{{ network.getName() }}</a>
        {% endfor %}
    {% endif %}
    {% if(data.user.getIsGuest() != 1) %}
        {% set user = data.user.getUser() %}
        <form method="post">
            {% include 'html/form.twig' with {block : data.block, module : data.module, action: "logout"} %}
            <input class="submit logout" type="submit" value="выход">
            <div class="username">Вы вошли как <span>{{ user.getName() }}</span></div>
        </form>
    {% endif %}
</div>