<div class="html-text-main">
    <h2>Установка</h2>
    <code>composer require plumbus/application</code>

    <div style="padding: 10px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eMJk4y9NGvE" frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>