<div class="news-list">
    {% for news_item in data.news %}
        <div>
            {{ news_item.title }}
        </div>
    {% endfor %}
    {% include 'html/paging.twig' with {pageLinks : data.pageLinks} %}
</div>