<div class="module-tests-toc">
    <h2>Ссылки</h2>
    <ul>
        {% for link in data.links %}
            <li><a {% if link.target %}target="{{ link.target }}" {% endif %}href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>